{% capture date %}{{ post.date }}{% endcapture %}
{% if index %}
  <header>
    {% include post/title.html %}
    <div class="meta date">{% include post/date.html %}{{ time }}</div>
  </header>
  <div class="entry-content">
    {{ content | excerpt }}
    {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
    {% if excerpted == 'true' %}<a href="{{ root_url }}{{ post.url }}" class="more-link">{{ site.excerpt_link }}</a>{% endif %}
  </div>
{% else %}
  <header>
    {% include post/title.html %}
    <div class="meta date">{% include post/date.html %}{{ time }}</div>
  </header>
  <div class="entry-content">{{ content }}</div>
{% endif %}
